{% load blog_tags %} {% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %} Yusuf Adel Blog | Backend Developer</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/androidstudio.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
    <meta name="title" content="Yusuf Adel Blog | Backend Developer" />
    <meta name="author" content="Yusuf Adel" />
    <meta name="description" content="Yusuf Adel Backend Developer Blog Post" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Yusuf Adel Blog | Backend Developer" />
    <meta property="og:description" content="Yusuf Adel Backend Developer Blog Post" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content="Yusuf Adel Blog | Backend Developer" />
    <meta property="twitter:description" content="Yusuf Adel Backend Developer Blog Post" />
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
</head>

<body>
<div id="content">
    <div class="theme-switch-wrapper">
        <label class="theme-switch" for="checkbox">
            <input type="checkbox" id="checkbox"/>
            <div class="slider round"></div>
        </label>
        <em>Enable Dark Mode!</em>
    </div>
    {% block content %} {% endblock %}
</div>
<div id="sidebar">
    <h2>My blog</h2>
    <p>This is my blog. I've written {% total_posts %} posts so far.</p>
    <p>
        <a href="{% url "blog:post_feed" %}">Subscribe to my RSS feed</a>
    </p>
    <h3>Latest posts</h3>
    {% show_latest_posts 3 %}
    <h3>Most commented posts</h3>
    {% get_most_commented_posts as most_commented_posts %}
    <ul>
        {% for post in most_commented_posts %}
            <li>
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
<script src="{% static 'js/toggle.js' %}"></script>
</body>

</html>